/* VIEW 4 */
.landing {
    background-color: #060708;
    margin: 0;
    height: fit-content;
    overflow: hidden;
}

.view4 {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 200px;
}

.image {
    width: 50vw; /* Ajustar el ancho del contenedor */
    height: 50vw; /* Hacer el contenedor cuadrado */
    max-width: 500px; /* Tamaño máximo del contenedor */
    max-height: 500px; /* Tamaño máximo del contenedor */
    position: relative;
    overflow: hidden;
    margin-top: 10%;
}

.image iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.button2 {
    background-color: transparent;
    width: 270px;
    height: 75px;
    border: 0;
    border-radius: 30px;
    color: white;
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: 700;
    font-style: italic;
    transition: .3s;
    cursor: pointer;
}

.button2:hover {
    color: #facdd4;
}

.buttons {
    display: flex;
    gap: 20px;
    margin-top: 1%;
}

.fondo2 {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../lauraassets/bg2.png"); /* Ruta de la imagen */
    background-size: cover; /* Ajusta la imagen para cubrir completamente el fondo del div */
    background-position: center; /* Centra la imagen en el div */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    filter: brightness(50%); /* Aplica un filtro de brillo para oscurecer la imagen (ajusta el porcentaje según sea necesario) */
}

.titlexd {
    margin: 0;
    text-transform: uppercase;
    font-size: 4em;
    width: 33vw;
    font-weight: 700;
    line-height: 60px;
    font-style: italic;
}

.info {
    z-index: 100;
}

.subtitle {
    width: 30vw;
    font-family: "Quicksand";
    font-weight: 800;
    font-size: 1.4em;
}

.button {
    width: 270px;
    height: 75px;
    border: 0;
    background-color: #facdd4;
    border-radius: 30px;
    color: white;
    font-size: 1.7em;
    text-transform: uppercase;
    font-weight: 700;
    font-style: italic;
    cursor: pointer;
    transition: .3s;
}

.navBar {
    margin: 30px;
    color: white;
    position: fixed;
    z-index: 101;
    height: 60px;
}

.button:hover {
    box-shadow: 0 0 30px 10px #e5959579;
}

@media screen and (max-width: 1400px) {
    .view4 {
        padding-top: 100px;
        flex-direction: column;
        height: fit-content;
    }

    .info {
        width: fit-content;
        padding: 100px 120px;
        height: 100vh;
    }

    .titlexd {
        width: fit-content;
        font-size: 6em;
    }

    .subtitle {
        width: fit-content;
    }

    .image {
        width: 70vw; /* Aumentar el ancho en pantallas más pequeñas */
        height: 70vw; /* Mantener la proporción 16:9 */
    }
}

@media screen and (max-width: 700px) {
    .titlexd {
        font-size: 2.6em;
        width: fit-content;
    }

    .navBar {
        height: 40px;
    }

    .subtitle {
        width: fit-content;
    }

    .info {
        width: 100vw;
    }

    .buttons {
        flex-direction: column;
    }

    .image {
        width: 90vw; /* Ampliar aún más el ancho en pantallas pequeñas */
        height: 90vw; /* Mantener la proporción 16:9 */
    }
}                                 
                      